@charset "UTF-8";
/* CSS Document */

h1 {
	background-color:gray;
	font-size: 36px;
	

	}
	
	
h2 {
	background-color:gray;
	font-size: 30px;
	

	}
.left {
	float: left;
}

 /* unvisited link */
a:link {
    text-decoration: none;
	color:#F00;
}

/* visited link */
a:visited {
    color: #60F;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color: #0000FF;
}

aside {
  float: left;
  width: 25%;
  margin-right:3%;
  background-color: grey;
}


.main {
  float:left;
  width:75%;
  max-width: 760px;
}

footer{
	clear:both;
}
	.split-column {
		width:50%;
		float:left;
	}
	
	 body {
    background: #d1d1d1 url('smiley.gif') no-repeat fixed center;
} 